h1.numeralFormTitle {
  font-size: 2rem;
}

.romanNumber {
  color: darkgreen;
}
.error {
  color: red;
}
.numeralForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.numeralForm > div {
  margin: 1rem 0;
}

.numeralForm > div > label {
  margin-right: 0.5rem;
}

.numeralForm > button {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
}
